@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .bg-theme {
    @apply bg-gradient-to-r from-gradient-left to-gradient-right hover:from-pink-500 hover:to-yellow-500
  }
  .light-bg-theme {
    @apply bg-gradient-to-r from-gradientLight-left to-gradientLight-right hover:from-pink-500 hover:to-yellow-500
  }
  .menu-theme {
    @apply bg-gradient-to-r from-gradient-left to-gradient-right text-white
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
